// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


@import "bootstrap/scss/bootstrap";


body {
  background-color: #D6D7DC;
  text-decoration:none;

}


.container {
  width: 1200px;
  background-color: #FBFFFD;
  height: 1200px;
  padding: 50px;
}


.list-group-item p{
  font-size: 12px;
}


.list-group-item {
  padding: 10px 5px;
}
